::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #232323;;
}

::-webkit-scrollbar-thumb:hover {
  background: #232323;
}

div.task {
font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

main.task {
  background-color: #232323;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
section.task{
    width: 90%;
    padding: 5% !important;
}
main.task section.task {
  margin: 0;
  padding: 1rem;
}
@media (max-width: 576px) {
  main.task section.task {
    margin: 5rem 0 0 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 100vw;
    z-index: 1;
    background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.5) 30%);
  }
}
main.task h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: "Earth Orbiter";
}
main.task h3 {
  font-size: 20px;
  font-family: "Earth Orbiter";
  margin: 2rem 0 4rem 0;
  padding: 0;
}
main.task p strong {
  margin: 2rem 0 0 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
}
main.task p{
    font-size: 15px;
  margin-bottom: 1rem;
}
main.task aside {
  min-width: 373px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("img/Sign in.png") center center no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 1rem;
}
@media (max-width: 992px) {
  main.task aside {
    min-width: 200px;
  }
}
@media (max-width: 576px) {
  main.task aside {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}
main.task aside article {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
}
@media (max-width: 576px) {
  main.task aside article {
    display: none;
  }
}
main.task aside h5 {
  font-size: 20px;
}
main aside img {
  width: 51px;
  height: 60.26px;
}
@media (max-width: 576px) {
  main.task aside img {
    position: absolute;
    top: 1rem;
  }
}
main.task p.note {
  font-size: 30px;
  font-family: "Earth Orbiter";
}
@media (max-width: 576px) {
  main.task p.note {
    font-size: 20px;
  }
}
.task-form-control {
  margin: 2rem 0;
  padding: 0;
}
.task-form-control div {
  margin: 0 0 1rem 0;
  padding: 0;
  display: flex;
  position: relative;
  background: #FFFFFF;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-clip-path: polygon(11% 12%, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(11% 12%, 100% 0, 90% 100%, 0% 100%);
  max-width: 600px;
  height: 60px;
}
@media (max-width: 576px) {
  .task-form-control div {
    height: 42px;
  }
}
.task-form-control div::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 99%;
  height: 97%;
  background-color: #232323;
  -webkit-clip-path: polygon(11% 12%, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(11% 12%, 100% 0, 90% 100%, 0% 100%);
  z-index: -1;
}
.task-form-control div input {
  margin: 0;
  padding: 0 0 0 4.5em;
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  background: transparent;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .task-form-control div input {
    padding: 0 0 0 2.25rem;
  }
}

.task-clip_2 {
  margin: 5% 0;
  padding: 0;
  display: flex;
  position: relative;
  background: #FFFFFF;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 87% 0, 100% 100%, 9% 84%);
          clip-path: polygon(0 0, 87% 0, 100% 100%, 9% 84%);
  width: 220px;
  height: 60px;
}
@media (max-width: 576px) {
  .task-clip_2 {
    max-width: 100px;
    max-height: 34.43px;
  }
}
.task-clip_2 input {
  text-decoration: none;
  color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-align: center;
  background-color: #FFFFFF;
  color: #2e2e2e;
  border: none;
  cursor: pointer;
}