*{
font-family: "Raleway", sans-serif;
}
div.welcome {
  margin: 0;
  padding: 0;
}

main.welcome {
  background-color: #232323;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
}
main.welcome section.welcome {
  margin: 0;
  padding: 1rem 0 0 4rem;
}
section.w3lc0m3{
    width: 90%;
    padding: 5% !important;
}
@media (max-width: 992px) {
  main.welcome section.welcome {
    padding: 1rem;
  }
}
@media (max-width: 576px) {
  main.welcome section.welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 100vw;
    z-index: 1;
    background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.5) 30%);
  }
}
main.welcome h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: "Earth Orbiter";
}
main.welcome p {
  margin: 2rem 0 0 0;
  padding: 0;
  font-size: 15px;
font-family: "Raleway", sans-serif;
}
main.welcome aside {
  width: 373px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("img/Sign in.png") center center no-repeat;
  background-size: cover;
}
main.welcome aside img {
  width: 51px;
  height: 60.26px;
}
@media (max-width: 576px) {
  main.welcome aside img {
    position: absolute;
    top: 1rem;
  }
  main.welcome aside {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
  }
}
main.welcome p.welcome-note {
  position: absolute;
  bottom: 1rem;
  font-size: 15px;
}

.welcome-clip_2 {
  margin: 2rem 0;
  padding: 0;
  display: flex;
  position: relative;
  background: #FFFFFF;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 92% 15%, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 92% 15%, 100% 100%, 15% 100%);
  width: 225px;
  height: 62px;
}
.welcome-clip_2 input {
  text-decoration: none;
  color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-align: center;
  padding-top: 11px;
  background-color: #FFFFFF;
  color: #2e2e2e;
  border: none;
  cursor: pointer;
}