*{
    margin: 0;
    padding: 0;
}

/* CUSTOM CLASSES */

.display-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.display-grid{
    display: grid;
}
.height-full{
    min-height: 100vh;
}
.width-full{
    min-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
